## 🔐 EJEMPLO de variables de Entorno (Ejemplo `.env`)
# Entorno
NODE_ENV="development"
# Base de datos
DATABASE_URL="Mysql://usuario:password@localhost:5432/sgs_travel".
# Puerto
PORT=3000
# JWT
## Secreto para JWT (usar un valor seguro)
JWT_SECRET="mi-s3cr3t0-super-ultra-requete-seguro=D"
## Tiempos de expiración:
JWT_EXPIRES_IN=15m # JWT ACCESS TOKEN
REFRESH_TOKEN_EXPIRES_IN=7d # JWT REFRESH TOKEN
